<div class="hvreffect">
  <div class="section-header text-center faqhdrbg">
  <h1>{{ page.title }}</h1>
 </div>
</div>  
<div class="section-header text-center faqhdrbgMob">
  <h1>{{ page.title }}</h1>
</div>
<div class="page-width">
  <div class="grid">
    <div class="grid__item">
 
      <div class="rte">
        <p class="faqhding">Have questions? We have answers.</p>
        
        <div id="accordionFaq">
          
          <h3><span>Q:</span><p>What is TopLandTrading.com?</p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>TopLandTrading.com is the online wholesale-only storefront for our company Top Land Trading, Inc., offering our Top Collection product line of quality cold-cast bronze and resin figurines to wholesale customers direct! We are constantly updating our product line in order to offer you the best selection in statuary giftware on the market, so sign up now to get wholesale access and see for yourself!</p>
            </div>
          </div>
          
          <h3><span>Q:</span><p>How do I contact Top Land Trading?</p>    <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>You can reach us via the following options:<br>
                Phone: (360) 671-2116<br>
                Fax: (360) 676-7817<br>
                Email: <a href="mailto:sales@toplandtrading.com" style="color: #ff0000;    border-bottom: 0;">sales@toplandtrading.com</a><br>
                Normal Business Hours: Monday - Friday, 10am-6:00pm PST<br>
                Our warehouse and office is located at:<br>
                1640 Jill's Ct.<br>
                Irongate Business Park<br>
                Bellingham, WA 98226<br>
              </p>
            </div>
          </div>
          
          <h3><span>Q:</span><p>What is Cold Cast Bronze?</p> <b></b></h3>
          <div>
          <span>A:</span>
          <div class="cst_fqo">  
            <p>All of our items indicated as cold cast bronze are unique pieces handcrafted using an originally British technique, where actual bronze powder is combined with polyresin. This mixture of the two materials produces easy-to-handle figurines with the sophisticated and stunning look of actual museum and gallery pieces. The products retain the beautiful luster of bronze while being much more affordable than fully bronze items. All of our items in full color finish, or that have color accent finishes are hand-painted.</p>
  
            </div>
          </div>
          
          <h3><span>Q:</span><p>I registered already and cannot view your wholesale products yet, what's wrong?</p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>If you are a new customer, make sure you also submitted a copy of your resale license (seller's permit) by e-mail or fax and please allow up to 48 hours for your wholesale registration and resale license to be verified. If you already order from us, and are waiting for wholesale access to our website, please <a href="pages/contact-us" style="color: #ff0000;    border-bottom: 0;">send us a message</a> or call directly during business hours to have your account approved immediately. </p>
            </div>
          </div>
          
          <h3><span>Q:</span><p>How safe is it to pay by credit card at TopLandTrading.com?</p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>It's perfectly safe.<br>
                Secure Socket Layer (SSL) encryption is used for every transaction in order to ensure that your order is secure. SSL encrypts the transmissions from our e-commerce servers as well as your computer. SSL encryption works by forming a matched pair with the transmission from your computer and our server, so that only data to and from these sources can be valid.</p>
            </div>
          </div>

          <h3><span>Q:</span><p>What if an item is out of stock when I place my order?</p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>During the online ordering process, you may see items marked as Temporarily Unavailable. These items are either new products for the season, or are sold out products that are unavailable to ship at this time. You can click "Notify Me" to have us e-mail you when the product is in stock. </p>
            </div>
          </div>


          <h3><span>Q:</span><p>How do I send an order to an address other than my billing address?</p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>It is possible to ship an order to another address but for your security we ask that you give us your credit card billing address as well. This is in order to confirm that you are the true card holder and it will help protect you from any unauthorized uses of your card.</p>
            </div>
          </div>

          <h3><span>Q:</span><p>What happens to my information I send to you, will it ever be given out? </p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>No, we will never sell or give out any information that you provide us. It is used only for internal purposes and to contact you directly. </p>
            </div>
          </div>

          <h3><span>Q:</span><p>What is your return policy?</p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>All sales are final unless noted otherwise. We will accept returns under certain circumstances and only with our authorization. In such cases, merchandise may be returned for a refund within 10 days of receipt of items. If the product is defective, we will gladly refund your money or replace the product. See our <a href="/pages/terms-conditions" style="color: #ff0000;    border-bottom: 0;">Terms & Conditions</a> for details.</p>
            </div>
          </div>

          <h3><span>Q:</span><p>Do you take international wholesale orders?</p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>Yes we do. New International customers must provide valid proof of your retail business in order to be granted wholesale access to our site. The standard shipping method for orders shipped to international locations is via USPS Priority Mail International. If you prefer another carrier please request it at the time of your order. </p>
            </div>
          </div>

          <h3><span>Q:</span><p>How often will you have new products?</p> <b></b></h3>
          <div>
            <span>A:</span>
            <div class="cst_fqo">
              <p>Top Land Trading adds new products twice a year in the Summer/Fall season and the Winter/Spring season.</p>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>
